@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* 
html {
    background-image: url(https://images.unsplash.com/photo-1616509091215-57bbece93654?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-size: cover;
    position: relative;
    height: 100vh;
  } */

.addPostscontainer {
  /* border: 1px solid blue; */
  height: 25vh;
  margin-top: 15px;
}

.titleAndContentContainer {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 20px; */
}

.title,.content,.userId {
  /* border: 2px solid purple; */
  width: 250px;
   padding: 7px; 
  margin-right: 10px;
  border-radius: 7px;
  border: 1px solid rgb(83, 82, 82);
  outline: none;
}

.content{
    width: 500px;
    height: 40px;
}

button {
  width: 70px;
  height: 30px;
  border-radius: 7px;
  background-color: rgb(103, 103, 233);
  border: none;
  outline: none;
}
/* .postContainer{
    border: 1px solid green;
} */